body{
    background-color: rgb(255, 255, 255);
    font: 12pt sans-serif;
    color: rgb(39, 15, 2);
}

header{
    background-image: url(../files/concert.jpg);
    background-size: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    margin-top: -1%;
    padding-top: 0.2% ;
    color: whitesmoke;
    text-shadow: 3px 2px 0px rgb(39, 15, 2), 
    7px 3px 2.5px rgb(145, 126, 115)  ;
}
#block1{
    font-size: 15pt;
}
b{
    text-shadow:  rgb(255, 255, 255) 1px 0.5px 0px,
    #444138 4px 2px 1.5px;
} 
.text{
    margin-left: 4%;
    text-align: justify;
}
.img1{
    width: 465px;
    height: 290px;
    border-radius: 5px;
}
.image{ 
    text-align: center;
    font-size: 10pt;
}
.img2{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
a{
    color: rgb(253, 137, 94);
}
h2{
    text-shadow: rgb(255, 253, 235) 2px 1px 0px,
    #b2a98f 5px 3px 2px;
}
.name{
    background-color: rgb(255, 224, 166);
    font-weight: bold;
}
p{
    line-height: 1.2;
}
.song{
    background-color: rgb(255, 253, 235);
    margin-top: -1.5%;
}
span{
    white-space: pre;
    line-height: 0.5;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.chords{
    margin-left: 10%;
}

        /*ADAPTATION*/

@media (max-width: 1023px){
    body{
        background-color: white;
    }
    header{
        background-image: url(../files/concert.jpg);
        background-size: 140%;
        font-size: 50px;
        font-weight: 700;
        margin-top: -3%;
        text-shadow: 3px 2px 0px rgb(39, 15, 2), 
        6px 3px 2.5px rgb(145, 126, 115) ;
    }
    #block1{
        font-size: 12pt;
        text-align: justify;
    }
    b{
        text-shadow:  rgb(255, 255, 255) 0.7px 0.5px 0px,
        #444138 3px 1.5px 1.5px;
    }
    .image{ 
        text-align: center;
        font-size: 10pt;
    }
    .img2{
        width: 220px;
        height: 220px;
        border-radius: 4px;
    }
    .img1{
        width: 300px;
        height: 180px;
        border-radius: 4px;
    }
    .song{
        margin-top: -2%;
        background-color: lemonchiffon;
    }
    p{
        line-height: 1.1;
    }
    .name{
        background-color: lightgray;
    }
    span{
        font-weight: bolder;
        color: black
    }
}


@media (max-width: 600px){
    body{
        font-size: 10pt;
        background-color: rgb(255, 255, 255);
    }
    header{
        background-image: url(../files/concert.jpg);
        background-size: 150%;
        font-size: 20px;
        font-weight: 550;
        margin-top: -4%;
        text-shadow: 3px 2px 0px rgb(39, 15, 2), 
        6px 3px 2.5px rgb(145, 126, 115) ;
    }
    #block1{
        font-size: 10pt;
        text-align: center;
    }
    b{
        text-shadow:  rgb(255, 255, 255) 0.8px 0.3px 0px,
        #444138 2.5px 2px 1.5px;
    }
    .text{
        text-align: center;
    }
    .image{ 
        text-align: center;
        font-size: 8pt;
    }
    .img2{
        width: 160px;
        height: 160px;
        border-radius: 3px;
    }
    .img1{
        width: 250px;
        height: 150px;
        border-radius: 3px;
    }
    .song{
        margin-top: -3.4%;
        margin-bottom: -50px;
        background-color: rgb(255, 253, 235);
    }
    p{
        line-height: 1;
    }
    .name{
        background-color: #444138;
        color: aliceblue;
        font-weight: lighter;
        font-size: 8pt;
        line-height: 3;
    }
}